.dom-tree__img-two,
.dom-tree__img-four,
.dom-tree__img-five {
  margin-left: auto;
  margin-right: auto;
}

.dom-tree__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.dom-tree__text-gray {
  font-weight: 700;
  font-size: 19px;
  line-height: 120%;
  color: #5e5e5e;
  border-bottom:1px solid #5e5e5e;
  border-left:1px solid #5e5e5e;
  border-right:1px solid #5e5e5e;
  padding: 15px 30px; 
  margin-bottom: 30px;
}